Flask==1.1.2
Flask-Cors==3.0.9
Flask-Compress==1.7.0
rdflib==5.0.0
rdflib-jsonld==0.5.0
dependency-injector==4.0.0
PyYAML==5.3.1
mongoengine==0.20.0
metadata-parser==0.10.0
nanopub==0.2.9
fairworkflows==0.1.8
pytest==6.1.2
mongomock==3.21.0